.navbar{
    width: 100%;
    background: #e8eced;
}
.ctn{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background: transparent;
    width: 1220px;
    max-width: 100%;
    padding: 40px 30px 20px;
    margin: 0 auto;
}
.list{
    display: flex;
}
.list_item{
    padding: 10px 32px;
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    cursor: pointer;
}
.burger_menu{
    cursor: pointer;
}
.menu_ctn{
    min-width: 283px;
    height: 100vh;
    z-index: 999;
    position: absolute;
    background: white;
    padding: 30px 40px;
    right: 0;
    top: 0;
    bottom: 0;
}
.close_ctn{
    display: flex;
    justify-content: end;
}
.list_middle{
    display: flex;
    flex-flow: column;
}
.list_ctn{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
@media screen and (max-width: 768px){
    .list_item{
        padding: 10px 0;
    }

}
@media screen and (max-width: 450px){
    .list_item{
        padding: 10px 0;
    }
    .logo{
       scale: 0.7;
    }
    .ctn{
        padding: 40px 10px;
    }

}
